/* HEADER */

@mixin decoracion {
    text-decoration: none;
    color: $color-blanco;
}

.navbar {
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 30px;
    font-size: 23px;
    text-shadow: 0 0 5px $color-negro;
}

.nav-link {
    @include decoracion;
    margin-right: 10px;
}

.nav-item .nav-link {
    color: $color-blanco;
    transition: all 0.5s ease;
    padding: 1.5rem;

    &:hover {
        transform: scale(1.2);
        text-shadow: 0 0 25px $color-gris;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    color: $color-blanco;
}

.logo {
    font-size: 2rem;
    color: $color-blanco;
    text-shadow: $color-grisoscuro;

    span {
        color: $color-grisoscuro;
        text-shadow: 0 0 5px $color-blanco;
    }
}

/* FIN DE HEADER */